.wrapper {
    max-width: 70rem; /*1120px*/
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /*1f tamanho flexivel*/
    gap: 2rem;
    align-items: flex-start; /*Sempre fique alinhados ao topo*/
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%; /*Precisa ser em porcetual*/
    }

    .wrapper {
        grid-template-columns: 1fr;
    } 
}