.wrapper {
    max-width: 70rem; /*1120px*/
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /*1f tamanho flexivel*/
    gap: 2rem;
    align-items: flex-start; /*Sempre fique alinhados ao topo*/
}